body {
  text-align: center;
  margin: 0 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Open Sans';
  color: white;
  background-color: white;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100vh;
}

.inner {
  width: 100%;
  -webkit-transform: translateY(-2%);
}
#trend {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-transform: center;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
}
#staleTime {
  font-size: 30vmin;
  display: block;
}
#bgnow, #arrowDiv {
  display: flex;
  flex-grow: 0;
  font-weight: 500;
  font-size: 30vmin;
  padding: 0 20px;
  margin: 0;

img#arrow {
  font-size: 6vmin;
  font-weight: 300;
  filter: brightness(100%);
  height: 5vmin;
  -webkit-transform: translateY(5%);
}


#delta {
  font-size: 16vmin;
  display: none;
}

#clock {
  font-weight: 500;
  font-size: 25vmin;
}

.close {
  color: white;
  font: 4em 'Open Sans';
  position: absolute;
  right: 20px;
  text-decoration: none;
}

.close:after {
  content: '\00D7';
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s linear;
}
.stale {
  text-decoration: line-through;
}
